*{
box-sizing:border-box;
} 
body{
	margin:0;
	padding:0;
	background-color:#e4e4e4;
}
.head{
	background-color:#282828;
	width:100%;
	height:100px;
}

.rowInner {
	padding-top:40px;
}

.logon{
	background-color:#ffd008;
	width:100px;
	height:30px;
	color:#282828;
}

.nav-wrapper{
	background-color:#ffd008;
}

.navCenter{
	margin-left:20%;
	color:#282828;
}
.navCenter li a{
	color:#282828;
}

.navAdd{
	width:100%;
	height:120px;
	background-image:url(../img/add.jpg);
	background-size:100%;
	padding-top:4.8%;
}

.add{
	background-color:#282828;
	height:55px;
	color:white;
	font-weight:bold;
}

.nomre{
	background-color:#282828;
	height:55px;
	color:white;
	font-weight:bold;
	}

.add i {
	color: #ffd008;
	float:left;
	line-height:55px;
}

.nomre i {
	color: #ffd008;
	float:left;
	margin-left:2%;
	line-height:55px;
}

.foto img {
	width:100%;
}

.elave{
	display:inline-block;
	clear:both;
	height:auto;
}

.en{
	float:left;
	width:200px;
	height:50px;
}

.postInfo div p {
	color:grey;
	font-size:10px;
	display:inline;

}

.carNumber {
	width:100%;
	height:40px;
	border-radius:5px;
	display:inline-block;
	border:1px solid black;
	line-height: 1px;
	text-align:center;
	background-color:whitesmoke;
	font-weight:bold;
}

.carNumber p {
	font-size:20px;
}

.news p {
font-size:5px;

}

.news h5{
font-size:10px;
}

.footer{
	width:100%;
	height:100px;
	background-color:#282828;
}

.bottomNav {
display:inline-block;
font-size:10px;
}

.bottomNav ul li{
display:inline;
margin-right:10px;

}

.bottomNav ul li a{
text-decoration:none;
color:white;

}

.copy p{
	font-size:10px;
}

.activeTab{
	color:#ffd008;
	background-color:white;
}

.numYoxla{
	padding-top:10px;
	width:100%;
	height:80px;
	display:inline-block;
	background-color:white;

}

.numYoxla  input{
	display:inline;
	width:80px;
	height:40px;
	border-radius:5px;
	margin-right:15px;
	background-color:whitesmoke;
	text-align:center;
	font-size: 40px;
	text-transform:uppercase;
	
}

.numYoxla input:last-child{
	border:none;
	background-color:transparent;
	color:#ffd008;
	width:100px;
	height:40px;
	font-size:40px;
	text-align:center;
	line-height:20px;
	letter-spacing:-5px;
	font-weight:bold;
}

.numYoxla a {
	color:#ffd008;
	font-size:60px;
	font-weight:bold;
}
.disp{
	display:none;
}
