/* *{
	margin:0;
	padding:0;
} */
body{
	margin:0;
	padding:0;
	background-color:#e4e4e4;
}
.head{
	background-color:#282828;
	width:100%;
	height:100px;
}

.rowInner {
	padding-top:40px;
}

.logon{
	background-color:#ffd008;
	width:100px;
	height:30px;
	color:#282828;
}

.nav-wrapper{
	background-color:#ffd008;
}

.navCenter{
	margin-left:550px;
	color:#282828;
}
.navCenter li a{
	color:#282828;
}

.navAdd{
	width:100%;
	height:120px;
	background-image:url(../img/add.jpg);
	background-size:100%;
	padding-top:4%;
}

.add{
	background-color:#282828;
	height:55px;
	color:#ffd008;
}

.nomre{
	background-color:#ffd008;
	height:55px;
	color:#282828;
}

.nomre a{
color:#282828;
text-decoration:none;
}

.add a{
color:#ffd008;
text-decoration:none;
}

.foto img {
	width:100%;
}

.elave{
	display:inline-block;
	clear:both;
	height:auto;
}

.en{
	float:left;
	width:200px;
	height:50px;
}

.postInfo div p {
	color:grey;
	font-size:10px;
	display:inline;

}

.carNumber {
	width:80%;
	height:50px;
	border-radius:20px;
	display:block;
	border:1px solid black;
}

.news p {
font-size:10px;
}

.news h5{
font-size:10px;
}