.nav-wrapper{
  background-color: #FFD008;

}
.nav-wrapper ul li a{
  color: #282828;
  text-transform: uppercase;
}
.row{
    margin-bottom: 0px;
}

.headerBox{
  height: 125px;
  background-color: #282828;
}

.headerBox a{
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  line-height: 125px;
}
.headerBox li{
  list-style-type: none;
  margin-bottom: 10px;

}
.headerBox span{
 
}
#loginBox{
  color: #fff;
  display: flex;
  flex-direction: column;
}

#altheader {
  position:relative;
  width:100%;
  height:240px;
  margin:0;
  background-image:url("../parking.jpg");
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

#althead {
  text-align:center;
  width:500px;
  height:45px;
  position:absolute;
  line-height:45px;
  bottom:0;
  left:50%;
  margin-left:-250px;
}

#headnav {
  width:100%;
  height:35px;
  background-color:#FFD008;
  margin:0;
  padding:0;
}

#headnav ul {
  margin:0;
  padding:0;
  line-height:35px;
  position:relative;
  list-style:none;
  text-align:center;
}

#headnav ul li {
  display:inline;
  margin:0 25px;
}

#headnav a {
  text-decoration:none;
  font-family:Arial;
  font-size:16px;
}

.addcar {
  background-color:#282828;
  font-family:Helvetica;
  color:white;
  position:relative;
  display:inline-block;
  padding: 0px 25px;
  cursor:pointer;
}

.addcar > img {
  margin-left:-15px;
}

#content {
	position:relative;
  width:99%;
	height:1200px; 
  margin:0 auto;
}

#main 	{
	position:absolute;
  left:2%;
	top:20px;
  width:63%;
  height:auto;
}


#main img {
  margin:15px 0px;
}


#rightside 	{
	position:absolute;
  right:0;
	top:20px;
  width:30%;
  height:800px;
}

#righttitle {
	font-family:Arial;
  font-weight:bold;
	font-size:19px;
  position:relative;
}

.news {
  width:100%;
  display:block;
  margin:25px 0px;
  position:relative;
}
.news a {
  font-family:Helvetica;
  color:black;
  font-size:16px;
  font-weight:bold;
}
.datenews {
  position:relative;
  margin:0px;
  opacity:0.8;
  font-size:14px;
  font-family:Helvetica;
}


#rightbut {
position:relative;
font-family:Helvetica;
border-radius:2px;
padding:0;
background-color:black;
color:white;
width:120px;
font-size:17px;
text-align:center;
padding:5px 10px;
margin:30px 0px;
cursor:pointer;
}

#googleplay {
font-size:22px;
color:white;
text-align:center;
line-height:100px;
width:90%;
height:100px;
background-color:black;
margin:20px 0px;
margin-left:5%;
}



#socialnet {
  width:100%;
  margin:0;
  padding:0;
  height:100px;
  text-align:center;
  background-color:#1d1d1d;
  color:white;line-height:100px;}

#addedby {
  font-size:18px;
  font-family:Helvetica;
  margin:5px;
}

#whoadded {
color:blue;
text-decoration:underline;
}

#typepozuntu {
font-size:18px;
font-family:Helvetica;
margin:10px 5px;
}

#pozuntu {
font-size:16px;
}

#pozuntutext {
font-size:16px;
font-family:Helvetica;
margin:10px 5px;
}




#comments{
  text-align:center;
  line-height:150px;
  width:90%;
  margin-left:5%;
  font-size:22px;
  font-family:Helvetica;
  position:relative;
  height:150px;
  border:1px solid black;
}

/* FOOTER HISSESI ~~~~~*/

#footer {
width:100%;
height:150px;
position:relative;
background-color:#282828;
}

#footnav ul { 
list-style:none; 
padding:20px 20px;
line-height:50px;
height:50px;
}

#footnav li {
  display:inline;
}

#footnav a {
color:white;
text-decoration:none;
margin:0px 10px; 
font-size:18px;
font-family:Helvetica;
}




#copyrights {
opacity:0.8;
color:white;
font-size:17px;
font-family:Helvetica;
position:relative;
margin: 0px 25px;
}

#crspan {
text-decoration:underline;
}


/* FOOTER HISSESI ~~~~~*/
